.progress-container {
  height: 50px;
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.character-path {
  width: calc(100% - 80px - 50px); /* - character - food*/
}

.character {
  position: relative;
  top: 0;
  width: 80px;
  height: 80px;
  background-image: url('src/assets/images/mouse.svg');
  background-size: cover;
}

.food {
  margin-left: auto;
  margin-right: 0;
  width: 80px;
  height: 80px;
  background-image: url('src/assets/images/cheese.svg');
  background-size: cover;

}
