<div class="game-window">

  <div class="game-content">




    <app-game-progress-bar [progress]="progress"></app-game-progress-bar>

    <div class="game-container-with-buttons">
      <div class="word-buttons">
        <input type="file" #fileInput (change)="onFilesSelected($event)" accept=".jpg, .jpeg" multiple style="display: none;">

        <button mat-fab aria-label="Wybierz własne słowa" (click)="fileInput.click()" matTooltip="Wybierz własne obrazki/słowa. Założenie jest takie, że dziecku będzie pisało MAMA gdy obok będzie zdjęcie jego mamy itd. Zdjęcia nie są przechowywane po stronie serwera, tylko są w danych przeglądarki (można podglądnać kod źródłowy) ">
          <mat-icon>folder</mat-icon>
        </button>

        <button mat-fab aria-label="Przywróć domyślne słowa" (click)="restoreToDefault()" matTooltip="Przywróć domyślne słowa">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <div class="game-container" >
        <mat-grid-list cols="4" rowHeight="2:3">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <img *ngIf="imageSrc" src="{{imageSrc}}" alt="Character Image" class="character-image"/>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div (click)="playCharacter()" class="word-container">
              <ng-container *ngFor="let letter of currentWord?.name?.split(''); let i = index">
              <span class = "character-display" [id]="'character-' + i"
                    [class.notGuessed]="i > guessingCharacterIndex"
                    [class.guessed]="i < guessingCharacterIndex"
                    [class.current]="i === guessingCharacterIndex"
              >{{ letter }}</span>
              </ng-container>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

    </div>

  </div>
</div>
