<div class="main-page">

  <mat-grid-list cols="3" rowHeight="270px">
    <mat-grid-tile>
      <a class="card-container letter mat-elevation-z4" matRipple routerLink="/litery-na-klawiaturze">
        Litery na klawiaturze
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container letter-small-letter mat-elevation-z4" matRipple routerLink="/male-litery-na-klawiaturze">
        Małe litery na klawiaturze
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container letter-without-letter mat-elevation-z4" matRipple routerLink="/litery-na-klawiaturze-z-samym-obrazkiem">
        Litery na klawiaturze z samym obrazkiem
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container digit mat-elevation-z4" matRipple routerLink="/cyfry-na-klawiaturze">
        Cyfry na klawiaturze
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container digit-without-digit mat-elevation-z4" matRipple routerLink="/cyfry-na-klawiaturze-z-samym-obrazkiem">
        Cyfry na klawiaturze z samym obrazkiem
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container word mat-elevation-z4" matRipple routerLink="/wyrazy">
        Wyrazy
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container word-small-letter mat-elevation-z4" matRipple routerLink="/wyrazy-male-litery">
        Wyrazy - małe litery
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container math-to-9-add mat-elevation-z4" matRipple routerLink="/dodawanie-do-9">
        Dodawanie do 9
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container memory mat-elevation-z4" matRipple routerLink="/memory">
        Memory
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a class="card-container memory-small-letter mat-elevation-z4" matRipple routerLink="/memory-male-litery">
        Memory - małe litery
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
