<div class="main-page">

<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
        <a class="card-container mat-elevation-z4" matRipple routerLink="/pojedyncza-litera">
            Pojedyńcza litera
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a class="card-container mat-elevation-z4" matRipple routerLink="/pojedyncza-cyfra">
            Pojedyńcza cyfra
        </a>
    </mat-grid-tile>
  <mat-grid-tile>
    <a class="card-container mat-elevation-z4" matRipple routerLink="/wyrazy">
      Wyrazy
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a class="card-container mat-elevation-z4" matRipple routerLink="/memory">
      Memory
    </a>
  </mat-grid-tile>
</mat-grid-list>
</div>
