.main-page {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 30vw;
  height: 230px;
  font-size: 36px;
  background-color: #4A90E2;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  line-height: initial;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* Grupa 1: memory */
.card-container.memory {
  background: linear-gradient(135deg, #6B5B95, #956E96);
}

.card-container.memory-small-letter {
  background: linear-gradient(135deg, #8C759D, #AD88B0);
}

/* Grupa 2: letter */
.card-container.letter {
  background: linear-gradient(135deg, #4286f4, #67a2f8);
}

.card-container.letter-small-letter {
  background: linear-gradient(135deg, #6A9AE2, #8FB9EF);
}

.card-container.letter-without-letter {
  background: linear-gradient(135deg, #9DBEF1, #BAD5F5);
}

/* Grupa 3: digit */
.card-container.digit {
  background: linear-gradient(135deg, #E26D5C, #F08476);
}

.card-container.digit-without-digit {
  background: linear-gradient(135deg, #F59B88, #F9B3A7);
}

/* Grupa 4: word */
.card-container.word {
  background: linear-gradient(135deg, #65C273, #8BD491);
}

.card-container.word-small-letter {
  background: linear-gradient(135deg, #8FD6A7, #AADFB9);
}
