<div class="game-window">
  <div class="game-content">

    <app-game-progress-bar [progress]="progress"></app-game-progress-bar>

    <div class="game-container">
      <mat-grid-list cols="2" rowHeight="5:4">
        <mat-grid-tile>
          <div class="character-display" id="character-display" tabindex="0">{{ currentCharacter }}</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <img id="character-image" ngSrc="{{imageSrc}}" alt="Character Image" class="character-image" fill=""/>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
