.memory-progress-bar {
  width: 55%;
}

.memory-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc((100vh - 140px ));
}

.memory-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.memory-card {
  margin: 10px 10px 10px 10px;
  aspect-ratio: 1 / 1;
  height: calc((100vh - 140px - 80px) / 3);
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  &.flipped .card-front {
    transform: rotateY(0deg);
  }

  &.flipped .card-back {
    transform: rotateY(-180deg);
  }

  &.hidden {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s;
  }
}


.card-face {
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;

  &.card-front {
    transform: rotateY(-180deg);
  }

  &.card-back {
    transform: rotateY(0deg);
    background: linear-gradient(45deg, #4fc0ff, #2980b9);
  }

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }
}

.card-text {
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc((100vh - 140px) / 3 * 0.7);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1.0);
  color: white;
  z-index: 2;
  font-weight: bold;
}


.game-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
